<div style="width: 85%; margin: 0 auto; text-align:center;">
    <div style="margin-bottom: 3%;">
      <v-card
      max-width="100%"
      elevation="24"
    >
      <v-card-title>
        U+2647's blog
      </v-card-title>
      <v-divider class="success"></v-divider>
      <v-card-text style="text-align: left;">
        <v-chip-group>
          <v-chip class="success">Java</v-chip>
          <v-chip>Spring boot</v-chip>
          <v-chip>8:00PM</v-chip>
          <v-chip>9:00PM</v-chip>
        </v-chip-group>
      </v-card-text>
    </v-card>
  </div>
  </div>
  