<div style="width: 100%; margin: 0 auto; text-align:center;">
    <v-footer
    padless
  >
    <v-card
      flat
      tile
      class="success lighten-1 white--text text-center"
      style="width: 100%; margin: 0 auto; text-align:center;"
    >
      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</div>