<div style="width: 85%; margin: 0 auto; text-align:center; margin-bottom: 3%;"> 
  <v-card max-width="100%" elevation="24" shaped>
    <v-card-title>
      U+2647's blog
    </v-card-title>
    <v-card-subtitle style="text-align: left;">
        一个进化了 5 年的 Java 程序猿
    </v-card-subtitle>
    <v-divider class="success"></v-divider>
    <v-card-text style="text-align: left;">
      <span color = "accent">Skill labels</span>
      <v-chip-group>
        <% if (site.categories && site.categories.length){ %>
          <% site.categories.forEach(function(category){ %>	
              <v-chip class="success lighten-1"><%- category.name %></v-chip>
          <%});%>
      <% } %>
      </v-chip-group>
    </v-card-text>
  </v-card>
</div>
